<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footert</title>
    <link rel="stylesheet" href="styles/rule1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>
<body>
    <footer>
        <div class="footer-container">
          <p>&copy; 2023 Younes Raymond</p>
          <ul>
            <li><a id="footer-a_[0]_About" href="javascript:void(0)">About</a></li>
            <li><a id="footer-a_[1]_Contant" href="javascript:void(0)">Contact</a></li>
            <li><a id="footer-a_[2]_privacyPolicy" href="javascript:void(0)">Privacy Policy</a></li>
          </ul>
        </div>
      </footer>
      <!-- <script src="dist/master1.js"></script> -->
      
</body>
</html>