<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <div id="cart-empthy-id" class="cart-empthy">
        <span id="span-cart-empty.txt">Cart</span>
        <hr>
        <h3 id="text-empthy">your cart is emphty</h3>
    
        <div id="container-cart-content">
        <div class="counter-cart-empthy">
          <img class="small-img-cart-empthy" src="images/image-product-1.jpg" alt="">
          <div id="text-confirm" class="text">
        <p>fall Limitd= Edition sneakers</p>
        <div class="price-confirm-box">$ <span id="price-standart">125</span>
          .00 
          $
          x
          <span id="counter-cart">3</span>
          <span id="price-value-cart-empthy">
          0
          </span>
          <span>.00</span>
          <img id="delete-icon" class="icon-delete" src="images/icon-delete.svg" alt="">
          <img id="confirm-delete" src="images/icon-delete.svg" alt="">
        </div>
      </div>
      </div>
      <button id="button-box-confirm">checkout</button>
    </div>
    </div>
      <!-- end cart-empthy-full -->
      <div class="landing-page" id="landing-page">
        <div class="menu-options">
          <ul>
            <span>X</span>
            <a href="Home">Collections</a>
            <a href="Men"> Men</a>
            <a href="Women">Women</a>
            <a href="about-us"> About</a>
            <a href="contact-us">Contact</a>
          </ul>
        </div>
      <div class="left" id="left">
    <div id="next-previous">
      <img src="images/icon-previous.svg" id="previous" alt="">
        <img id="big-img-id" class="big-img" >
        <img src="images/icon-next.svg" alt="" id="next">

      </div>
      <div id="small-img-id" class="small-img">
        <img id="small-1" class="active" src="images/image-product-1-thumbnail.jpg" alt="">
        <img id="small-2" src="images/image-product-2-thumbnail.jpg" alt="">
        <img id="small-3" src="images/image-product-3.jpg" alt="">
        <img id="small-4" src="images/image-product-4.jpg" alt="">
      </div>
    </div>
      <div class="right" id="right">
        <span class="first-span">Sneaker Company</span>
        <h2>  Fall Limited Edition</h2>
        <h3 class="h3">Sneakers</h3>
        <p>
          These low-profile sneakers are your perfect casual wear companion. Featuring a 
          durable rubber outer sole, they’ll withstand everything the weather can offer.
        </p>
        <div class="price" id="price">
          <label for="">
            <span id="dollar">$</span><span id="price-value">125</span><span class="orange-span">50%</span>
          </label>
            <del id="offers">$250.00</del>
        </div>
        <div class="add-card" id="add-card">
        <div id="plus-mynis-id" class="plus-mynis">
        <span id="mynis">-</span>
        <span id="counter">0</span>
        <span id="plus">+</span>
      </div>
      <div id="add-btn-id" class="add-btn">
          <img src="images/icon-cart.svg" alt="">
          <span>Add to cart</span>    
        </div>
      </div>
      </div>
    </div> 
    <div class="popup">
      <span id="close-popup">X Close</span>
      <div class="big-img">
        <div class="nex" id="nex">
        <img src="images/icon-next.svg" alt="">
      </div>
      <img src="images/image-product-1.jpg" alt="" id="popup-big-img">
      <div class="pre" id="pre">
      <img src="images/icon-previous.svg" alt="">
    </div>

    </div>
      <div class="small-images" id="small-img-popup">
        <img src="images/image-product-1.jpg" alt="">
        <img src="images/image-product-2.jpg" alt="">
        <img src="images/image-product-3.jpg" alt="">
        <img src="images/image-product-4.jpg" alt="">
      </div>
    </div>
    <div class="parent-payments">
    <div class="payment-Methods">
     <div class="master-card">
     <img src="images/mastercard.svg" id="master-card-img" alt="">
      </div>
      <span id="close-payment-methods">X</span>
      <div class="CashOnDelevery">
        <img src="images/cashondelevery.jpg" alt="">
      </div>
    </div>
  </div>
  <script src="dist/master1.js"></script>
  <!-- <script src="dist/men.js"></script> -->
</body>
</html>