
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <title>About Us | Sneaker Company</title>
    <meta name="description" content="Learn more about Sneaker Company and our mission to provide high-quality, durable sneakers. Our store is located in Rabat city, Morocco.">
    <link rel="stylesheet" href="styles/about.css">
    <link rel="stylesheet" href="styles/rule1.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>
<body>
  <div id="header">
    <%- include('partials/navbar.ejs') %>
  </div>
  <div id="content">
<main class="container">
    <h1 class="text-center">About Us</h1>
    <p class="text-justify">Sneaker Company is a footwear brand based in Rabat city, Morocco. Our mission is to provide our customers with high-quality, durable sneakers that are perfect for everyday wear. We believe that everyone should be able to own a pair of sneakers that they can rely on, no matter the weather. </p>
    <p class="text-justify">Our low-profile sneakers feature a durable rubber outer sole that can withstand everything the weather can offer. They are available in a range of colors and styles, and we're always working on new designs to ensure that there's something for everyone. </p>
    <p class="text-justify">We're proud to have a store located in Rabat city, where customers can come and try on our sneakers in person. We're also proud to offer free shipping on
        fast and reliable shipping to customers all over Morocco. Our friendly and knowledgeable staff are always on hand to answer any questions and help you find the perfect pair of sneakers.

        We're also committed to being an environmentally friendly company, and we use sustainable materials and production methods whenever possible. We believe that it's important to take care of the planet, as well as providing our customers with the best possible products.
        
        As part of our commitment to our customers, we also offer a Contact Us page with all the information you need to get in touch with us. Whether you have a question about our products, need help placing an order, or just want to give us feedback, we're here to help.
        </p>
        <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13441.719111713186!2d-6.82988!3d33.97159!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x75f9c7e4fe6f1e7d!2sSneaker%20Company!5e0!3m2!1sen!2sus!4v1591866746527!5m2!1sen!2sus" width="100%" height="50%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
                <p>Our store is located at: Sneaker Company, Rabat City, Morocco</p>

       
            <p>Please don't hesitate to contact us if you have any questions or concerns. You can reach us by phone at +212 XXX XXX XXX, by email at contact@sneakercompany.com, or by filling out the contact form on our website. We look forward to hearing from you!</p>
                </main>
                <div id="header">
                  <%- include('partials/footer.ejs') %>
                </div>
                <script src="dist/master1.js"></script>

            </body>
            </html>
