<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneaker</title>
    <link rel="stylesheet" href="styles/rule1.css">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
      <div id="header">
        <%- include('partials/navbar.ejs') %>
      </div>
      <!-- end nav bar -->

     <!-- landing-page -->
     <div id="content">
      <%- include('partials/landing-page.ejs') %>
      </div>
      <div id="content">
        <%- include('partials/footer.ejs') %>
        </div>





<script src="dist/master1.js"></script>
</body>
</html>