
body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.screenshot-image {
    width: 150px;
    height: 90px;
    border-radius: 4px;
    border: 2px solid whitesmoke;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 5px;
    left: 10px;
    background: white;
}

.display-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5% auto;
    position: relative;
    /* z-index: 100; */
}

video {
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.video-options {
    position: absolute;
    left: 20px;
    top: 30px;
}

.controls {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
}

.controls > button {
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 100%;
    margin: 0 6px;
    background: transparent;
    cursor: pointer;
}
.controls > button:hover {
    width: 46px;
    height: 46px;
    text-align: center;
    border-radius: 100%;
    margin: 0 6px;
    background: transparent;
    cursor: pointer;
}
.controls > button:hover svg {
    color: white !important;
}

@media (min-width: 300px) and (max-width: 400px) {
    .controls {
        flex-direction: column;
    }

    .controls button {
        margin: 5px 0 !important;
    }
}

.controls > button > svg {
    height: 20px;
    width: 18px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.controls button:nth-child(1) {
    border: 2px solid #D2002E;
}
.controls button:nth-child(1):hover {
    border: 3px solid #D2002E;
    transition:all 3;
}

.controls button:nth-child(1) svg {
    color: #D2002E;
}

.controls button:nth-child(2) {
    border: 2px solid #008496;
}
.controls button:nth-child(2):hover {
    border: 3px solid #008496;
    transition: all 3s;
}

.controls button:nth-child(2) svg {
    color: #008496;
}

.controls button:nth-child(3) {
    border: 2px solid #00B541;
}
.controls button:nth-child(3):hover {
    border: 3px solid #00B541;
    transition: all 2s;
}

.controls button:nth-child(3) svg {
    color: #00B541;
}

.controls > button {
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 100%;
    margin: 0 6px;
    background: transparent;
}

.controls > button:hover svg {
    color: white;
}
 form {
    display: flex;
    flex-direction: column;
    align-items: center;
   font-weight: 700;    
 }

input:not(.file) {
    width: 50%;
    height: 60px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(0.25turn, #ebf8e1, #f69d3c);
    font-weight: bold;
    cursor: pointer;
    margin: 0% 0% 2% 0%;
}

.form-group {
    margin-bottom: 1rem;
    width: 100%;
}

#submit {
    width:30%
}