body{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.container-confirme
{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
fieldset 
{
    display: flex;
    border-radius: 10px;
    height: 80px;
    align-items: center;
    width: 96%;
    margin: 30px 2%;
    flex-direction: row;
    justify-content: space-around;
}
#submit {
    width: 100px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(0.25turn, #ebf8e1, #f69d3c);
    font-weight: bold;
    cursor: pointer;
}
#submit:hover{
    width: 105px;
    height: 63px;
}


#no {
width: 10%;

}
#yes {
 width: 10%;
}
.confirm-location #confirm_BTN {
width: 200px;
height: 60px;
border: none;
border-radius: 10px;
background: linear-gradient(0.25turn, #ebf8e1, #f69d3c);
font-weight: bold;
cursor: pointer;
margin: 0% 0% 2% 0%;
transition: all 2s;
}
#confirm_BTN:hover{
    width: 230px;
    background: linear-gradient(0.25turn, #ebf8e1, #f69d3c);

}



#issmap{
    height: 480px;
    position: relative;
    width: 96%;
    margin: 4% 2%;
    border-radius: 20px;
}
.coords-container {
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    align-items: center;
    height: 20%;
    text-align: center;
}