@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Open+Sans:ital,wght@0,600;1,500&family=Poppins:wght@100&family=Roboto:wght@400;700&display=swap');
:root 
{
  --main-orange: hsl(26, 100%, 55%);
  --pale-orange:hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
--Dark-grayish-blue: hsl(219, 9%, 45%);
--Grayish-blue: hsl(220, 14%, 75%);
--Light-grayish-blue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);
}body
{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}body p
{
  font-size: 16px;
  font-weight: 400;
}body h2
{
  font-weight: 700;

}.Women-Category img
{
     width: 20px;
    opacity: 5;
    margin: 0% 0% 0% -91%;
    cursor: pointer;
}
.Men-Category img
{
  width: 20px;
    opacity: 5;
    margin: 0% 0% 0% -91%;
    cursor: pointer;
}.Women-category-list
{

}.men-category-list
{
    width: 10%;
    position: absolute;
    border-radius: 2%;
    position: absolute;
    z-index: 12;
    margin-left: 47%;
    margin-top: -2.9%;
    width: 9%;
    height: 17%;
    background: white;
    box-shadow: 0px 9px 24px -7px black;
}.men-category-list li {
list-style: none;
    color: var(--main-orange);
    text-align: center;
    margin: 10% -10%;
    font-weight: 700;
    cursor: pointer;
}.men-category-list li:hover
{
  color: var(--White);
  background: var(--main-orange);
  border-radius: 6px;

}.men-category-list ul 
{
  margin: 0% 0% 0% -5%;
  float: left;
}

.About_US_Page {
  display: none;
}


.dark-theme {
  background-color: black;
  color: white;
}.toggleButton{
  margin: 0% 1% 0% 0%;
  cursor: pointer;
  display: block;
}.toggleButton img {
  width: 80%;
}.login {
  display: block;
  width: 10%;
  margin: 0% 0% 0% 2%;
  cursor: pointer;
}.login img {
  /* display: none; */
  width: 35%;
  margin: 1% 0% 2% -1%;
}.login .login-txt {
  /* display: none; */
  font-weight: 700;
  margin: 0% 0% 10% 0%;
}.payment-Methods {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  margin: -25% 0% 0% 0%
}.master-card{
  width: 20%;
  height: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}.master-card a {
  width: 100%;
}.master-card img {
  width: 100%;
}.master-card img:hover{
  border: 1px solid var(--main-orange);
  border-radius: 15px;
}.CashOnDelevery {
  width: 20%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
}.CashOnDelevery img {
  width: 100%;
}.CashOnDelevery a {
  width: 100%;
}.CashOnDelevery:hover{
  border: 1px solid var(--main-orange);
  border-radius: 15px;
}#close-payment-methods{
  font-size: 22px;
  font-weight: bold;
  border: 2px solid;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  background: var(--main-orange);

}#close-payment-methods:hover {
 background: var(--White);
 color: var(--main-orange);
 cursor: pointer;
}.menu-options a {
  transition: all 2s;
  margin-bottom: 5%;
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-family: cursive;
}.menu-options a:hover{
  color: var(--main-orange);
  font-weight: 700;
  margin-left: 2%;
  font-family: cursive;
}.menu-options span {
 font-weight: 700;
 cursor: pointer;
}.menu-options span:hover {
  color: var(--main-orange);
}.popup {
  display: block;
  width: 100%;
}.popup .big-img {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -37% 0% 0% 0%;
  height: 100px;
}.popup .big-img img {
  width: 32%;
  border-radius: 15px;
  margin: 0% 30% 0% 30%;
  cursor: pointer;
}.small-images{
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 26% 0% 0% 34%;
}.small-images img{
  width: 6.5%;
  margin-left: 2%;
  border-radius: 15px;
  cursor: pointer;
}#close-popup{
  display: flex;
  margin: -4.3% 0% 0% 61.9%;
  position: fixed;
  color: var(--main-orange);
  font-weight: 900;
  border: 1px solid;
  border-radius: 50%;
  width: 49px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}#close-popup:hover{
  background: var(--main-orange);
  color: white;
}.popup .nex {
  width: 6%;
  position: fixed;
  margin: 15% -32% 0% 0%;
}.popup .pre 
{
  width: 6%;
  position: fixed;
  margin: 15% 32% 0% 0%;
}.nav-bar 
{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}.container-bar
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}.container-bar .basket
{
  display: grid;
  align-items: center;
  cursor: pointer;
  margin: 0% -10% 0% 0%;
}#basket-counter 
{
    margin-top: -10px;
    margin-left: 11px;
    background: var(--main-orange);
    color: white;
    width: 22px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    border-radius: 9px 9px 9px 9px;
}.container-bar ul 
{
  display: inline-flex;
  align-items: center;
  margin-left: -140px;
  margin-right: -2px;
  width: 35%;
}.container-bar a 
{
  text-decoration: none;
  color: var(--Dark-grayish-blue);
  margin-right: 20px;

}.container-bar li:hover
{
  color: var(--main-orange);
  cursor: pointer;
}.container-bar li
{
  list-style-type: none;
  color: var(--Dark-grayish-blue);
}#span-C
{
  display: none;
  width: 7%;
  height: 0.6%;
  background: var(--main-orange);
  position: absolute;
  margin-top: 3.2%;
  border-radius: 8px;
}.bar-men
{
  display: none;
  width: 3%;
  height: 0.6%;
  background: var(--main-orange);
  position: absolute;
  margin-top: 3.2%;
  border-radius: 8px;
}.bar-women
{
  display: none;
  width: 5.5%;
  height: 0.6%;
  background: var(--main-orange);
  position: absolute;
  margin-top: 3.2%;
  border-radius: 8px;

}.bar-about
{
  display:none;
  width: 4.5%;
  height: 0.6%;
  background: var(--main-orange);
  position: absolute;
  margin-top: 3.2%;
  border-radius: 8px;
}.bar-contact
{
  display: none;
  width: 5.6%;
  height: 0.6%;
  background: var(--main-orange);
  position: absolute;
  margin-top: 3.2%;
  border-radius: 8px;
}.container-bar .img-nav
{
  margin-right: -220px;
  cursor: pointer;
}.container-bar .profile 
{
  height: 50%;
  cursor: pointer;
  transition: all 2s;
}#hr
{
  width: 81%;
  margin-top:0% ;
}.landing-page
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}.cart-empthy {
  border-radius: 2%;
  position: absolute;
  z-index: 12;
  margin-left: 63.04%;
  margin-top: -1.9%;
  width: 32%;
  height: 36%;
  background: white;
  float: right;
  box-shadow: 0px 9px 24px -7px black;
  
}.cart-empthy span{
  margin-left: 0%;
  font-weight: 700;

}.cart-empthy hr{
  width: 100%;
  margin-top: 5%;

}.cart-empthy h3{
  text-align: center;
  color:grey;
  margin-top: 15%;
}.counter-cart-empthy
{
  display: flex;
  flex-direction: row;
  width: 100%;
}.small-img-cart-empthy
{
  width: 16%;
  height: 15%;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 4%;
  border-radius: 5px;
  margin-bottom: 6%;
}.counter-cart-empthy .text
{
    width: 80%;
    font-size: 18px;
    text-align: left;
    font-family: 'Kumbh Sans', sans-serif;
}.text p 
{
  width: 97%;
    color: grey;
    font-weight: 500;
    font-family: monospace;
    font-size: 15px;
    float: left;
    margin-bottom: 2%;
}.price-confirm-box
{
font-weight: 100;
color: grey;
}.price-confirm-box span:not()
{
  margin: 0;
  color: grey;
  font-weight: 100;

}#price-value-cart-empthy
{
  color: black;
  margin: 0;
}.icon-delete
{
 margin-left: 20%;
 width: 6%;
 height: 6%;
 cursor: pointer;
}#button-box-confirm
{
  color: white;
  text-align: center;
  width: 90%;
  margin: 0% 5% 0% 5%;
  height: 45px;
  background: var(--main-orange);
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.9;
}.landing-page .left
{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: -5%;
}.left .big-img
{
 width: 50%;
 border-radius: 15px;
 cursor: pointer;
 /* transition: all 1s; */

}.small-img {
display: flex;
flex-direction: row;
width: 50%;
height: 100%;
justify-content: space-around;
align-items: center;
margin-top: 5%;
}.small-img img
{ 
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  width: 20%;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}.active
{
  cursor: pointer;
  margin-left: -12px;
  border-radius: 50px;
  border: var(--main-orange) 2px solid;
  opacity: 0.6;
}.right 
{
  float: right;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 9%;
}.right .first-span
{
  color: var(--main-orange);
  font-weight: 700;

}.right h2
{
  font-size: 33px;
  margin-top: 5%;
}.right h3
{
  margin-top: -4px;
  font-size: 35px;
  font-weight: bold;
  position: static;
  margin-bottom: 2%;
}.price
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}#plus 
{
  cursor: pointer;
}.price  del
{
  color: grey;
  font-weight: 100;
  font-size: small;

}.price label span{
  margin-right: 2%;
  font-weight: 700;
}#dollar {
  margin-right: 0.4%;
}.price label .orange-span {
 background-color: var(--pale-orange);
 color: var(--main-orange);
 border-radius: 5px;
 text-align: center;
 font-weight: bold;
}.add-card  
{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 75px;
}.add-card .plus-mynis 
{
  color: var(--main-orange);
  width: 20%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 2%;
  height: 35px;
  background: var(--Light-grayish-blue);
  border-radius: 5px;
}.plus-mynis span
{
  cursor: pointer;
  font-weight: 700;
}#counter
{
  color: black;
  font-weight: 700;
  font-size: small;
}.add-card .add-btn 
{
  cursor: pointer;
  background: var(--main-orange);
  color: var(--pale-orange);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 35%;
  height: 35px;
  border-radius: 5px;
}.add-card .add-btn:hover
{
  opacity: 0.8;

}.add-btn img
{
 margin-right: -15%;
 height: 40%;
}.add-btn span 
{
  height: 50%;
  font-size: small;
  text-align: center;
  font-weight: 700;
}
.footer-container
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: var(--main-orange);
  height: 100px;
  border-radius: 20px;
  align-items: center;
  opacity: 0.9;
  width: 97%;
  margin: 2% 1.5% 0.5%;
}
.footer-container p 
{
  color: var(--Light-grayish-blue);
  font-weight: 700;
}
.footer-container ul
{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-container ul a
{
  list-style-type: none;
  color: var(--Light-grayish-blue);
  font-weight: 700;

}


